<!-- ============= SEARCH BAR ============= -->
<div class="row">
  <form id="databaseSearch">
    <input type="text" placeholder="Search movie database..." class="col s9 offset-s1" ng-model="movieToSearch">
    <button class="waves-effect waves-light btn-floating teal btn"><i class="material-icons" ng-click="searchDatabase()">search</i></button>
  </form>
</div>


<!-- ============= CARDS TO HOLD MOVIE RESULTS ============= -->
<div class="row">
  <div class="card" ng-repeat="movie in movies">
    <div class="card-image">
      <img ng-src="{{movie.Poster}}">
    </div>
    <div class="card-content red accent-4">
      <p>{{movie.Title}}</p>
      <p>{{movie.Type}}</p>
      <p>{{movie.year}}</p>
    </div>
  </div>
</div>
